#create-invite-container {
	background:url() no-repeat;
	//height: 855px;
	width: 800px;
}

#create-invite-container p {
	color: #346a2e;
	padding: 10px 20px 20px 20px;
	font-size: 17px;
	font-family:Arial, Helvetica, sans-serif;
}

.invite-status-text {
	font-size: 10px;
	color: red;
	vertical-align: text-top;
	padding-left: 10px;
	padding-right: 10px;
}

#create-invite-container p span {
	color: #346a2e;
	font-size: 13px;
	padding-left: 40px;
}

#create-invite-form {
	position:absolute;
	left: 100px;
	background: #fcfff1;
	width: 550px;
	padding-bottom: 20px;
	//height: 600px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-moz-box-shadow: 0px 0px 7px #000;
	-webkit-box-shadow: 0px 0px 7px #000;
	box-shadow: 0px 0px 7px #000;
}




#create-invite-inner-container {
	margin-bottom: 20px;
	border-style: solid;
	padding: 20px 25px 20px 25px;
	border-color: #00cdcf;
	
}

#invite-draft-text {
	width: 510px; 
	height: 300px; 
	border: 1px solid 256632; 
	margin-bottom: 10px;
	margin-left: 0px;

}

#action-send-invite {
	margin-left: 215px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 30px;
}

#invite-title {
	text-align: center;
	width: 510px; 
}

#invite-to-list {
	background: white;
	width: 510px;
	height: 60px;
}

#invite-to-container {
	padding: 10px 20px 0px 20px;
	font-size: 17px;
	font-family:Arial, Helvetica, sans-serif;
	width: 550px;
}

input#invite-to-field {
	width: 100%;
}

input#invite-subject {
	width: 100%;
}
