#hike_logo_img {
    background-position: 0 0;
    display: none;
	}	

#pref-container {
	background:url() no-repeat;
	//height: 855px;
	width: 800px;
	}
	
#pref-form1 {
	position:absolute;
	left: 100px;
	background: #fcfff1;
	width: 550px;
	padding-bottom: 20px;
	//height: 600px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
-moz-box-shadow: 0px 0px 7px #000;
-webkit-box-shadow: 0px 0px 7px #000;
box-shadow: 0px 0px 7px #000;
	}
	
	
	#pref-container p {
		color: #346a2e;
		padding: 10px 20px 20px 20px;
		font-size: 17px;
		font-family:Arial, Helvetica, sans-serif;
	}
	
		#pref-container p span {
		color: #346a2e;
		font-size: 13px;
		padding-left: 40px;
	}
	
	.form_labels {
		padding-left: 38px;
		color: #1a6e34;
		margin-top: -20px;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	.form_labels label {
	}
	
	input #name {
		color: red;
	}
	
	#button {
		width: 75px;
		height: 30px;
		background: rgba(144, 144, 144, 0.075);
		color: #346a2e;
		border: 1px solid #717171;
		font-weight:bold;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		
	}
	
#select-container {
	margin-left: 20px;
	margin-right: 20px;
}

#pref-near {
	width:510px; 
	height: 30px; 
	border: 1px solid 256632; 
	margin-bottom: 10px;
	padding-left: 7px;

}

#preference-settings {
	margin-bottom: 20px;
	border-style: solid;
	padding: 10px 25px 10px 25px;
	border-color: #00cdcf;
	
}

#min-rating {
	width: 40px;
	text-align: center;
}

#select-container2 {
	visibility: hidden;
}

#yelp-image {
	padding-top: 20px;
}



#accept-preferences {
	margin-left: 215px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 30px;
}

#preferences-title {
	margin-left: 150px;
	color: #346a2e;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
}

#def-location {
	padding-left: 5px;
}

#set-default-location {
	padding-left: 15px;
	display: none;
}

a#set-default-location:hover {
	cursor: pointer;
}

#disallow-container {
	//margin-top: 20px;
}


//.rating-very-large .5_0_star-rating {
//    background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -614px;
//} 

.rating_5_0_star-rating {
	//background-position: -3px -739px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -739px;
}

.rating_4_5_star-rating {
	//background-position: -3px -714px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -714px;
}

.rating_4_0_star-rating {
	//background-position: -3px -689px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -689px;
}

.rating_3_5_star-rating {
	//background-position: -3px -664px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -664px;
} 

.rating_3_0_star-rating {
	//background-position: -3px -639px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -639px;
}

.rating_2_5_star-rating {
	//background-position: -3px -614px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -614px;
}

.rating_2_0_star-rating {
	//background-position: -3px -589px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -589px;
}

.rating_1_5_star-rating {
	//background-position: -3px -564px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -564px;
}

.rating_1_0_star-rating {
	//background-position: -3px -539px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -539px;
}

.rating_0_5_star-rating {
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -514px;
}

.rating_0_0_star-rating {
	//background-position: -3px -514px;
	background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -514px;
}


.star-img {
	//background: rgba(0, 0, 0, 0) url("/images/stars_map.png") no-repeat scroll -3px -739px;
    display: block;
    height: 100%;
    width: 100%;
}

.offscreen {
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

img {
    vertical-align: middle;
}

.rating-very-large {
    height: 22px;
    overflow: hidden;
    position: relative;
    width: 126px;
}